include workLayout.pug
doctype html
html(lang="ja", prefix="og: http://ogp.me/ns#")
  head
    include head.pug
  body(itemscope, itemtype="http://schema.org/Person")
    main
      article.container
        header
          h1.h4.text-center 職務経歴書
          .text-right
            p #[span= basics.date] 現在
            p= basics.name
          p= basics.summary
        section
          h2.h5 職務経歴
          - work = work || []
          each workItem in work
            article.card
              header.card-header
                h3.h6 #{workItem.startDate}〜#{workItem.endDate} #{workItem.company}@#{workItem.location}
              section.card-body
                .row
                  .col-8
                    +workLayout('プロジェクト概要', workItem.summary)
                    +workLayout('担当ポジション', workItem.position)
                    +workLayout('業務内容', workItem.details)
                    +workLayout('取り組み', workItem.highlights)
                  if workItem.env
                    .col-4
                      +workLayout('OS', workItem.env.os)
                      +workLayout('言語', workItem.env.languages)
                      +workLayout('フレームワーク・DBなど', workItem.env.platforms)
        section.page
          h2.h5 スキル
          table.table.table-bordered
            thead
              tr
                th 分類
                th 名称
                th レベル
                th 詳細
            tbody
              each skillItem in skills
                tr
                  if skillItem.category && skillItem.rowSpan
                    th(rowspan=skillItem.rowSpan)= skillItem.category
                  td= skillItem.name
                  td= skillItem.level
                  td
                    ul
                      each item in skillItem.keyword || []
                        li= item
        section
          h2.h5 その他活動
          ul
            each publication in publications
              li #[strong= publication.name] - #{publication.releaseDate}: #[br] #{publication.summary}
        footer.text-right
          p 以上
